.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main .all_messages_bubble_outer_container {
  margin: auto;
  border: solid;
  border-color: black;
  border-radius: 3em;
  width: 60%;
  height: 600px;
  overflow:hidden;
  background-color:rgb(232, 246, 219);
  /* padding-left: 2em;
  padding-right: 2em; */
  padding-bottom: 1rem;
  padding-top: 1rem;

}
main .all_messages_bubble_inner_container {
  margin: auto;
  /* border: solid; */
  /* border-color: black; */
  width: 95%;
  height: 98%;
  overflow-y:auto;
  overflow-x: hidden;
  /* background-color:rgb(232, 246, 219); */
  position: relative;

}

.TEST {
  height: 5px;
  width: 100%;
  border: 1px solid red;
}